
html{
    margin:0px;
    padding:0px;
}

h1{
    color:white;
    font-weight:2px;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    padding:10px;
    margin-top:20px;
    margin:15px;
}

body{
    margin:0px;
    padding:0px;
    background-image:url("background2.jpg");
    background-size:cover;
}



form{
    display:flex;
    align-items:center;
    justify-content:center;
}



table{
    border-radius:20px;
    padding:60px;
    margin:30px;
    background-color:rgb(255, 255, 255);
}



.button1{
    background-color:rgb(253, 133, 85);
    border:none;
    border-radius:5px;
    color:white;
    padding:5px;
    padding-left:20px;
    padding-right:20px;
    margin:20px;  
}

.button2{
    background-color:rgb(253, 133, 85);;
    border:none;
    border-radius:5px;
    color:white;
    padding:5px;
    padding-left:20px;
    padding-right:20px;
    margin:20px;
}

.login{
    color:rgb(99, 96, 96);
     margin:20px;
}

.forget{
    color:rgb(99, 96, 96);
}
